.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #0d9488 transparent #0d9488 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pie-wrapper {
  width: fit-content;
  max-width: 50%;
  min-width: 300px;
  height: 500px;
  max-height: 500px;
  overflow: visible;
  margin-right: 12em;
  font-size: large;
}

.MapSt {
  width: fit-content;
  height: fit-content;
  max-height: 400px;
  max-width: 500px;
  overflow: hidden;
  border: solid;
  border-radius: 20px;
}

.row-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.leaflet-container {
  height: 40vh;
  width: 40vh;
}

.Map-Wrapper {
  padding: 10px;
  justify-content: center;
}

.Center {
  width: auto;
  display: grid;
  gap: 2em;
  padding: 20px;
  overflow: hidden;
  max-width: fit-content;
}

.Center-Wrapper {
  display: flex;
  justify-content: center;
  overflow: scroll;
  width: 100%;
}

.Charts-Wrapper {
  height: 500px;
  width: 800px;
  max-width: 60%;
  overflow: scroll;
}

.recharts-surface {
  width: 500px;
  overflow: visible;
}

@media (max-width: 400px) {
  .row-wrapper {
    display: flex;
    width: 100%;
    max-width: 400px;
  }

  .leaflet-container {
    height: 30vh;
    width: 40vh;
  }
  .pie-wrapper {
    height: 300px;
    max-width: 300px;
    margin-right: 0;
  }

  .recharts-surface {
    margin: 0;
    overflow: visible;
    width: 300px;
  }

  .recharts-wrapper {
    max-width: 300px;
  }

  .recharts-responsive-container {
    max-width: 300px;
  }
}
